{% extends 'layout.html.twig' %}

{% block title %}Edit Expense{% endblock %}

{% block main %}
    <h1>Edit Expense</h1>

    {{ include('expense/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('expenses_last') }}">back to list</a>
{% endblock %}
