{% extends 'layout.html.twig' %}

{% block title %}Edit Expense{% endblock %}

{% block main %}
    <div class="update_form">
        <h1>Edit Expense</h1>

        {{ include('expense/_form.html.twig', {'button_label': 'Update'}) }}
        <a class="form_button" href="{{ path('expenses_last') }}">Cancel</a>
    </div>
{% endblock %}
