{% extends 'layout.html.twig' %}

{% block main %}
    <div class="header_link">
        <a href="{{ path('expenses_last') }}">Show expenses list</a>
    </div>

    <h1>Create new Expense</h1>

    <div class="creation_form">
        {{ include('expense/_form.html.twig') }}
    </div>
{% endblock %}
