{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
        <div id="header">
            Friendeals
        </div>

        <div id="content">
            {% block main %}{% endblock %}
        </div>

        <div id="footer"></div>
    </div>

{% endblock %}
